#header ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
#header li{
	float:left;
	margin:0px;
	padding:0px;
}
#header li a{
	display:block;
	width:150px;
	background-color:pink;
	margin-right:5px;
	text-align:center; 
}

.col-1{width:8.33%;}
.col-2{width:16.66%; border: 1px solid black;
padding:20px;}
.col-3{width:24.99%;}
.col-4{width:33.32%;  padding: 20px;}
.col-5{width:41.65%;}
.col-6{width:49.98%;border:1px solid black;
padding:20px;}
.col-7{width:58.31%;}
.col-8{width:66.64%;}
.col-9{width:74.97%;}
.col-10{width:83.3%;}
.col-11{width:91.63%;}
.col-12{width:100%;}

.row{

	display: inline-flex;
	padding:20px;
	width:100%;

}
body{
	background-image: url('wallpaper.jpg');
	background-size: 100%;
}

.center{
	position: center;
	padding: 20px;
	text-align: center;
}

.map {
	position: center;
	padding: 20px;
	text-align: center;
}
.col-sm-3 {
	width:50%;
	padding: 20px;
	border: 1px solid black;
}

.comment{
	 text-align:center;
	 padding: 20px;
	 margin: center;
	 text-decoration: bold;
	 font-size: 25px;


}

.language .day .month {
	display: inline-block;
	text-align: center;
	padding:40px;
	margin:left;
	text-decoration: bold;
	font-size: 30px;]
	font-c

}
#footer {
	width:100%;
	background-color: red;
}
#footer ul{
	padding:10px;
	list-style:none;
}
#footer li{
	float:left;
	margin:0px;
	padding:1px;
	padding-bottom: 2px;
}
#footer li a{
	display:inline-flex;
	width:150px;
	margin-right:5px;
	text-align:left;
	padding: 2px;
	color:black; 
}